<%= render 'shared/menu' %>

<div class="show-container">
  <div class="art-head-img">
    <h1><%= @artist.name %></h1>
    <p><%= image_tag(@artist.image, class: "artist_img") %></p>
  </div>

  <div class="art-bio">

    <h3 style="text-align: center;"><%= @artist.country %></h3>

    <p><%= simple_format @artist.bio %></p>

  </div>

  <div class="art-songs">

    <h2 style="text-align: center;"> Songs </h2>
    <div class="art-songs-desc">

      <% songs = @artist.songs.sort_by { |song| song.year } %>

      <%= render songs, hide_artist: true %>

    </div>

  </div>


</div>
