<%= render 'shared/menu' %>

<div class="container-songs">
  <h1><%= @song.title %></h1>

  <%= link_to @song.artist.name, @song.artist %>
  <br />
  <%= @song.year %>
  <%= simple_format @song.chorus %>

  <%= image_tag(@song.cover, class: "song_img") %>
</div>
