<%= render 'shared/menu' %>

<div class="container-songs">
  <h1 style="text-align: center;"><%= @song.title %></h1>
    <div class="song-overview">


      <div class="song-desc-img">

        <%= image_tag(@song.cover.url, class: "song_img") %>
      </div>

      <div class="song-desc">

        <%= link_to @song.artist.name, @song.artist %>
        <br />
        <%= @song.year %>
        <%= simple_format @song.chorus %>

      </div>

      <div class="youtube-player">
        <%= embed(@song.youtube) %>
        <iframe width="560" height="315" src= "<%= @youtube_url %>" frameborder="1" allowfullscreen></iframe>
      </div>

    </div>
</div>
